Repository schlunzis/vigilia, pull requests merged in 2025-03, with the labels that each got.

#18 Persisting embeddings in derby db
  .gitignore
  core/pom.xml
  core/src/main/java/org/schlunzis/vigilia/core/api/IndexService.java
  core/src/main/java/org/schlunzis/vigilia/core/embedding/EmbeddingWrapper.java
  core/src/main/java/org/schlunzis/vigilia/core/embedding/EmbeddingsManager.java
  core/src/main/java/org/schlunzis/vigilia/core/model/EmbeddingEntity.java
  core/src/main/java/org/schlunzis/vigilia/core/model/EmbeddingsRepository.java
  core/src/main/java/org/schlunzis/vigilia/core/model/MetadataConverter.java
  core/src/main/resources/application.properties
  example.md
Labels: enhancement, core

#22 19 feature request allow indexing of files via the fx client
  fx-gui/src/main/java/module-info.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/controller/IndexController.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/controller/SearchController.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/lib/DraggableTab.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/lib/TabbedStagesManagerImpl.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/service/IndexService.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/service/IndexTask.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/tab/Type.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/tab/VTabContentFactory.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/view/FileTreeCell.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/view/FileTreeItem.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/view/IndexView.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/view/SearchView.java
  fx-gui/src/main/java/org/schlunzis/vigilia/gui/fx/view/TreeFile.java
Labels: fx-gui

#32 28 feature request make query results be pagable
  cli/src/main/java/org/schlunzis/vigilia/cli/CLIApplication.java
  core/pom.xml
  core/src/main/java/org/schlunzis/vigilia/core/api/SearchService.java
  core/src/main/java/org/schlunzis/vigilia/core/embedding/EmbeddingsManager.java
  core/src/main/java/org/schlunzis/vigilia/core/embedding/Model.java
  core/src/main/java/org/schlunzis/vigilia/core/embedding/PrepackagedModel.java
  openapi.yaml
Labels: enhancement, core

#42 29 bug vigiliadb at the same location
  .gitignore
  core/pom.xml
  core/src/main/java/org/schlunzis/vigilia/core/config/DBConfig.java
  core/src/main/resources/application-dev.properties
  core/src/main/resources/application.properties
Labels: core
